{% extends "base-form.njk" %}
{% set hmpoPageKey = "check-your-details" %}
{% set hmpoH1Class = "govuk-heading-l" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-warning-text/macro.njk" import hmpoWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% set isPageDataSensitive = false %}
{% set pageTitleKey = "pages.check-your-details.title" %}
{% set contentID = "8826a513-9d0d-4129-b587-4e8a3f3d5c1f" %}
{% set taxLevel2 = 'driving licence' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("pages.check-your-details.title") }}
    </h1>

    {{ hmpoWarningText({
        text: translate("pages.check-your-details.warningText")
    }) }}

    {% call hmpoForm(ctx, {
        attributes: {
            onsubmit: 'window.disableFormSubmit()'
        }
    }) %}

        {% if values.licenceIssuer == "DVLA" %}

            {{ govukSummaryList({
                rows: [
                {
                    key: {
                        text: translate("pages.check-your-details.lastName"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.surname
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.givenNames"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.firstName + " " + values.middleNames
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.dateOfBirth"),
                        classes: "govuk-!-font-weight-bold $govuk-text-colour"
                    },
                    value: {
                        text: values.dateOfBirth | date ('DD MM YYYY')
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.issueDate"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.issueDate | date ('DD MM YYYY')
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.validTo"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.expiryDate | date ('DD MM YYYY')
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.licenceNumber"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.drivingLicenceNumber,
                        classes: "govuk-input--extra-letter-spacing"
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.issueNumber"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.issueNumber
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.postcode"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.postcode
                    }
                }
            ]
        }) }}
        {% endif %}

        {% if values.licenceIssuer == "DVA" %}

            {{ govukSummaryList({
                rows: [
                {
                    key: {
                        text: translate("pages.check-your-details.lastName"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.surname
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.givenNames"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.firstName + " " + values.middleNames
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.dateOfBirth"),
                        classes: "govuk-!-font-weight-bold $govuk-text-colour"
                    },
                    value: {
                        text: values.dateOfBirth | date ('DD MM YYYY')
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.issueDate"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.issueDate | date ('DD MM YYYY')
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.validTo"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.expiryDate | date ('DD MM YYYY')
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.licenceNumber"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.drivingLicenceNumber,
                        classes: "govuk-input--extra-letter-spacing"
                    }
                },
                {
                    key: {
                        text: translate("pages.check-your-details.postcode"),
                        classes: "govuk-!-font-weight-bold"
                    },
                    value: {
                        text: values.postcode
                    }
                }
            ]
        }) }}
        {% endif %}

        <h2>{{ translate("pages.check-your-details.correctCheck") }}</h2>

        {{ hmpoRadios(ctx, {
            id: "confirmDetails"
        }) }}

        {{ hmpoSubmit(ctx, {id: "", text: translate("pages.check-your-details.confirmButton")}) }}

    {% endcall %}

{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}
