{% extends "base-form.njk" %}
{% set hmpoPageKey = "consent" %}
{% set hmpoH1Class = "govuk-heading-l" %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-checkboxes/macro.njk" import hmpoCheckboxes %}
{% from "hmpo-text/macro.njk" import hmpoText %}

{% set isPageDataSensitive = false %}
{% set pageTitleKey = "pages.consent.title" %}
{% set contentID = "8532cce3-4cda-4ebf-a638-4c5a397645dd" %}
{% set taxLevel2 = 'driving licence' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}

  {% call hmpoForm(ctx, {
    attributes: {
      onsubmit: 'window.disableFormSubmit()'
    }
  }) %}

    {% if (values.licenceIssuer == "DVA") %}

      <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("pages.consent.titleDVA") }}
      </h1>
      <p>
        {{ translate("pages.consent.checkDVA") }}
      </p>
      <h2 >{{ translate("drivingLicence.consentDVA") }}</h2>

      {{ hmpoText(ctx, {
        id: "issuerDependent",
        type: "hidden",
        legend: "",
        default: "DVA"
      }) }}

      {{ hmpoCheckboxes(ctx, {
        id: "consentDVACheckbox",
        hint: {
          classes: "govuk-label"
        }
      }) }}

    {% endif %}

    {% if (values.licenceIssuer == "DVLA") %}

      <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("pages.consent.title") }}
      </h1>
      <p>
        {{ translate("pages.consent.checkDVLA") }}
      </p>
      <h2 >{{ translate("drivingLicence.consentDVLA") }}</h2>

      {{ hmpoText(ctx, {
        id: "issuerDependent",
        type: "hidden",
        legend: "",
        default: "DVLA"
      }) }}

      {{ hmpoCheckboxes(ctx, {
        id: "consentCheckbox",
        hint: {
          classes: "govuk-label"
        }
      }) }}

    {% endif %}

    {{ hmpoSubmit(ctx, {
      id: "continue",
      text: translate("buttons.next")
    }) }}

  {% endcall %}

{% endblock %}

{% block scripts %}

{{ super ()}}

<script nonce="{{ cspNonce }}">
    var formSubmitted = false;

    submitSpinner()

    function delayDisableButton(button) {
      button.className += ' button--spinner'
      setTimeout(function () {
        button.setAttribute('disabled', 'disabled')
      }, 200);
    }

    function submitSpinner() {
      var selects = document.getElementById('continue')

      selects.addEventListener('click', function (event) {
        if (!formSubmitted) {
          formSubmitted = true;

          delayDisableButton(event.target);
        } else {
          event.preventDefault()
        }
      })
    }
</script>

{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}
