{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "details" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}


{% block mainContent %}
    {% if values.showRetryMessage and not (ctx("errors") | length) %}
    {# user is retrying #}
    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("drivingLicence.retryTitle") }}
    </h1>
    {% else %}
    {# user's first attempt #}
    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("drivingLicence.title") }}
    </h1>
 {% endif %}

{% if values.showRetryMessage and not (ctx("errors") | length) %}
{# user is retrying, show more information about how to complete the form #}
{% set retryHtml %}
<h2>{{ translate("drivingLicence.retryMessageHeading") }}</h2>
<p>
    {% if (values.licenceIssuer == "DVA") %}
        {{ translate("drivingLicence.retryMessageParagraph1DVA") }}
    {% else %}
        {{ translate("drivingLicence.retryMessageParagraph1") }}
    {% endif %}
</p>
<p>
    {{ translate("drivingLicence.retryMessageParagraph2") }}
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ translate("drivingLicence.retryMessageList1") }}</li>
    <li>{{ translate("drivingLicence.retryMessageList2") }}</li>
    <li>{{ translate("drivingLicence.retryMessageList3") }}</li>
</ul>
{% endset %}

{{ govukNotificationBanner({
html: retryHtml,
titleText:'Error',
role: 'alert',
classes:'driving-licence-message'
}) }}

{% else %}
{# user's first attempt #}

    {% if (values.licenceIssuer == "DVA") %}
        <p> {{ translate("drivingLicence.checkDetailsContextDVA") }}  </p>
    {% else %}
        <p> {{ translate("drivingLicence.checkDetailsContext") }}  </p>
    {% endif %}

{% endif %}

{{ govukInsetText({
html: translate("drivingLicence.drivingLicenceTryAnotherWay")
}) }}

    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

    {{ hmpoText(ctx, {
    id: "surname",
    label: {
    classes: "govuk-label"
    },
    classes: "govuk-input"
    }) }}

    {%- set firstNameError = hmpoGetError(ctx, {id: 'firstName'}) %}
    {%- set middleNameError = hmpoGetError(ctx, {id: 'middleNames'}) %}

    {% if firstNameError and middleNameError %}
    <div class="govuk-form-group govuk-form-group--error">
    {% else %}
    <div class="govuk-form-group ">
        {% endif %}

        {% call govukFieldset({
        legend: {
        text: translate("drivingLicence.drivingLicenceGivenNames"),
        classes: "govuk-!-margin-0"
        }
        }) %}
        <div class="govuk-inset-text govuk-!-margin-top-2 govuk-!-padding-top-1">
            {{ hmpoText(ctx, {
            id: "firstName",
            label: {
            classes: "govuk-label"
            },
            classes: "govuk-input"
            }) }}

            {{ hmpoText(ctx, {
            id: "middleNames",
            label: {
            classes: "govuk-label"
            },
            classes: "govuk-input"
            }) }}
        </div>
        {% endcall %}
    </div>

        {% if (values.licenceIssuer == "DVLA") %}

        {{ hmpoDate(ctx, {
        id: "dateOfBirth",
        legend: {
        classes: "govuk-label"
        }
        }) }}

        {{ hmpoText(ctx, {
        id: "dvlaDependent",
        type: "hidden",
        legend: "",
        default: "DVLA"
        }) }}

        {% else %}

        {{ hmpoDate(ctx, {
        id: "dvaDateOfBirth",
        legend: {
        classes: "govuk-label"
        }
        }) }}

        {{ hmpoText(ctx, {
        id: "dvaDependent",
        type: "hidden",
        legend: "",
        default: "DVA"
        }) }}

        {% endif %}


        {% if (values.licenceIssuer == "DVLA") %}
        {{ hmpoDate(ctx, {
        id: "issueDate",
        legend: {
        classes: "govuk-label"
        }
        }) }}

        {% else %}
        {{ hmpoDate(ctx, {
        id: "dateOfIssue",
        legend: {
        classes: "govuk-label"
        }
        }) }}

        {% endif %}

    {{ hmpoDate(ctx, {
    id: "expiryDate",
    legend: {
    classes: "govuk-label"
    }
    }) }}

    {% if (values.licenceIssuer == "DVLA") %}
    {{ hmpoText(ctx, {
        id: "drivingLicenceNumber",
        label: {
            classes: "govuk-label"
        }
    }) }}

    {% else %}
    {{ hmpoText(ctx, {
        id: "dvaLicenceNumber",
        label: {
        classes: "govuk-label"
        }
    }) }}

    {% endif %}

    {% if (values.licenceIssuer == "DVLA") %}
    {# user has DVA licence and therefore no issue number is required #}

        {{ hmpoText(ctx, {
        id: "issueNumber",
        label: {
        classes: "govuk-label"
        }
        }) }}

    {% endif %}

        {{ hmpoText(ctx, {
    id: "postcode",
    label: {
    classes: "govuk-label"
    }
    }) }}

    {% if values.showRetryMessage and not (ctx("errors") | length) %}
        {# user is retrying, show warning message they have run out of attempts #}
                {{ govukWarningText({
                text: translate("drivingLicence.retryWarningText"),
                iconFallbackText: translate("drivingLicence.retryWarningTitle")
                }) }}
    {% endif %}

        {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

    {% endcall %}

{% endblock %}
{% block scripts %}

{{ super ()}}

<script nonce="{{ cspNonce }}">
    var formSubmitted = false;

    submitSpinner()

    function delayDisableButton (button) {
        button.className += ' button--spinner'
        setTimeout(function() {
            button.setAttribute('disabled', 'disabled')
        }, 200);
    }


    function submitSpinner() {
        var selects = document.getElementById('continue')

        selects.addEventListener('click', function (event) {
            if(!formSubmitted) {
                formSubmitted = true;

                delayDisableButton(event.target);
            } else {
                event.preventDefault()
            }
        })
    }
</script>

{% endblock %}
{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}
