{% extends "base-form.njk" %}
{% set hmpoPageKey = "licence-issuer" %}
{% set hmpoH1Class = "govuk-heading-l" %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "hmpo-details/macro.njk" import hmpoDetails %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.licence-issuer.title" %}
{% set contentID = "001" %}
{% set taxLevel2 = 'driving licence' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}
{% set title = translate("licence-issuer.title") %}
{% call hmpoForm(ctx) %}
{{ hmpoRadios(ctx, {
   id: "licenceIssuer",
   fieldset: {
        legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
        }
    }
}) }}

{{ govukDetails({
        summaryText: translate("pages.licence-issuer.details.summary"),
        text: translate("pages.licence-issuer.details.text")
}) }}

{% block submitButton %}
    {{ hmpoSubmit(ctx, {id: 'continue'}) }}

{% endblock %}

{% endcall %}

{% endblock %}

{% block scripts %}
  {% include "partials/prevent-enter.html" %}
  {% include "partials/submit-spinner.html" %}
  {{ super ()}}
{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}
