{% extends "base-page.njk" %}
{% set hmpoPageKey = "pageNotFound" %}

{% from "hmpo-html/macro.njk" import hmpoHtml %}

{% block mainContent %}
    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("pageNotFound.title") }}
    </h1>

    {{ hmpoHtml(translate("pageNotFound.content")) }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" nonce='{{cspNonce}}'>
        window.DI = window.DI || {};
        window.DI.httpStatusCode = 404
    </script>
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '404', // Access status code
                    englishPageTitle: '{{translate("pageNotFound.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'driving licence', // Access taxonomy level 2
                    content_id: '004',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
    {{ super ()}}
{% endblock %}
{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
{{ govukFooter( footerNavItems ) }}
{% endblock %}
