{% extends "base-page.njk" %}
{% set hmpoPageKey = "sessionEnded" %}

{% block mainContent %}
    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("sessionEnded.title") }}
    </h1>

    {% from "hmpo-html/macro.njk" import hmpoHtml %}
    {{ hmpoHtml(translate("sessionEnded.content")) }}

{% endblock %}

{% block scripts %}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("sessionEnded.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'driving licence', // Access taxonomy level 2
                    content_id: '005',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
    {{ super ()}}
{% endblock %}
{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
{{ govukFooter( footerNavItems ) }}
{% endblock %}
